@use "../../../src/styles/utilities/functions" as u;
@use "../../../src/styles/global/components/typography" as t;
@use "../../../src/styles/global/components/button" as *;

%btnStyles {
    padding: 10px 14px;
    border-radius: 8px;
    font-weight: 500;
}

.button {
    @extend %button-styles;
    @include t.p;
    &.default {
        @extend %btnStyles;
    }

    &.primary {
        @extend %btnStyles;
    }
    &.secondary {
        @extend %btnStyles;
    }
}
