@use "../config";
@use "./components/typography" as t;
@use "./components/code";
@use "./components/checkbox";
@use "./components/radioButton";
@use "./components/button";
@use "./components/input";

@layer craftsman-base, craftsman-theme;

@layer craftsman-base {
    :root {
        color-scheme: light dark;
        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    ::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }

    ::-webkit-scrollbar-track {
        background: #ddd;
    }

    ::-webkit-scrollbar-thumb {
        background: #000;
        border-radius: 6px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
    body,
    ul {
        margin: 0;
        padding: 0;
    }

    body {
        @include t.body-typography;
        background-color: #fff;
        -webkit-overflow-scrolling: touch;
        overscroll-behavior: contain;
    }

    fieldset {
        padding: 0;
        border: 0;
    }

    code {
        @extend %code;
    }

    button {
        @extend %button-styles;
    }

    input {
        &:not([type="radio"]):not([type="checkbox"]) {
            @extend %input-base;
        }
        &[type="checkbox"] {
            @extend %checkbox;
        }

        &[type="radio"] {
            @extend %radio;
        }
    }
    textarea {
        @extend %input-base;
    }

    a {
        @extend %text-link;
    }
}
