@use "../../styles/global/components/input";
@use "../../styles/utilities/_functions" as u;
@use "../../styles/utilities/_placeholders";
@use "../DatePicker/_DatePicker";
@layer craftsman-component {
    .react-daterange-picker,
    .react-daterange-picker *,
    .react-daterange-picker *:before,
    .react-daterange-picker *:after {
        @extend %border-box;
    }

    .react-daterange-picker {
        @extend %date-picker-styles;
        &--disabled {
            @extend %date-picker-disabled;
        }
        &__wrapper {
            @extend %date-picker-wrapper;
        }
        &__inputGroup {
            @extend %date-picker-input-group;
        }
        &__inputGroup__divider {
            @extend %date-picker-divider;
        }
        &__inputGroup__divider,
        &__inputGroup__leadingZero {
            @extend %date-picker-leading-zero-divider;
        }
        &__inputGroup__input {
            @extend %date-picker-group-input;
        }
        &__inputGroup__input::-webkit-outer-spin-button,
        &__inputGroup__input::-webkit-inner-spin-button {
            @extend %date-picker-input-spinner;
        }
        &__inputGroup__input--hasLeadingZero {
            @extend %date-picker-input-leading-zero;
        }
        &__button {
            @extend %date-picker-button;
        }
        &__calendar {
            width: 350px;
            max-width: 100vw;
            z-index: 1;
            .react-calendar {
                    border-width: thin;
            }
        }
        &__calendar--closed, &__clock--closed {
            display: none;
        }

    }
    .react-daterange-picker__calendar 
    .react-daterange-picker__inputGroup__input:invalid {
        background: unset;
    }

}
