@use "sass:map";
@use "sass:string";
@use "../config" as cfg;

$width-defaults: (
	text: cfg.$w-text,
	gutter: cfg.$w-gutter,
	column: cfg.$w-column,
	mobileMax: cfg.$bp-mobileMax,
	tablet: cfg.$bp-tablet,
	tabletMax: cfg.$bp-tabletMax,
	desktop: cfg.$bp-desktop,
	desktopMax: cfg.$bp-desktopMax,
	extDesktop: cfg.$bp-extDesktop,
);

@function color($name, $type: hex, $alpha: 1) {
	@if $type == rgba {
		@return string.unquote("rgb(from var(--#{$name}) r g b / #{$alpha})");
	}

	@return string.unquote("var(--#{$name})");
}

@function width-var($name) {
	@if not map.has-key($width-defaults, $name) {
		@error "Unknown width key `#{$name}`.";
	}
	@return string.unquote("var(--w-#{$name})");
    // $fallback: map.get($width-defaults, $name);
	// @return string.unquote("var(--w-#{$name}, #{$fallback}px)");
}

@function width($name, $multiplier: 1, $px: true) {
	$value: width-var($name);

	@if $name == column {
		$gutter-steps: $multiplier - 1;
		$gutter: width-var(gutter);

		@if $px {
			@return string.unquote("calc((#{$value} * #{$multiplier}) + (#{$gutter} * #{$gutter-steps}))");
		}

		@return string.unquote("calc((#{$value} * #{$multiplier}) + (#{$gutter} * #{$gutter-steps}))");
	}

	@if $px {
		@if $multiplier == 1 {
			@return $value;
		}

		@return string.unquote("calc(#{$value} * #{$multiplier})");
	}

	@if $multiplier == 1 {
		@return string.unquote("#{$value}");
	}

	@return string.unquote("calc(#{$value} * #{$multiplier})");
}

@function media($bp) {
	@if $bp == mobile {
		@return string.unquote("(min-width: 0px)");
	}

	@if $bp == mobileMax {
		@return string.unquote("(max-width: #{cfg.$bp-mobileMax}px)");
	}

	@if $bp == tablet {
		@return string.unquote("(min-width: #{cfg.$bp-tablet}px)");
	}

	@if $bp == tabletMax {
		@return string.unquote("(max-width: #{cfg.$bp-tabletMax}px)");
	}

	@if $bp == desktop {
		@return string.unquote("(min-width: #{cfg.$bp-desktop}px)");
	}

	@if $bp == desktopMax {
		@return string.unquote("(max-width: #{cfg.$bp-desktopMax}px)");
	}

	@if $bp == extDesktop {
		@return string.unquote("(min-width: #{cfg.$bp-extDesktop}px)");
	}

	@if $bp == mobileOnly {
		@return string.unquote("(min-width: 0px) and (max-width: #{cfg.$bp-mobileMax}px)");
	}

	@if $bp == tabletOnly {
		@return string.unquote("(min-width: #{cfg.$bp-tablet}px) and (max-width: #{cfg.$bp-tabletMax}px)");
	}

	@if $bp == mobileTablet {
		@return string.unquote("(min-width: 0px) and (max-width: #{cfg.$bp-tabletMax}px)");
	}

	@if $bp == desktopOnly {
		@return string.unquote("(min-width: #{cfg.$bp-desktop}px) and (max-width: #{cfg.$bp-desktopMax}px)");
	}

	@error "Unknown breakpoint `#{$bp}`.";
}

@mixin breakpoint($bp) {
	@media #{media($bp)} {
		@content;
	}
}


