@use "../../utilities/functions" as u;

%code {
    background-color: var(--gray200);
    color: var(--gray800);
    padding: #{u.width(gutter, 0.125)} #{u.width(gutter, 0.25)};
    margin: #{u.width(gutter, 0.125)};
    display: inline-block;
    font-size: var(--w-text, 14px);

    &:has(pre) {
    padding: #{u.width(gutter)};
    border-radius: #{u.width(gutter, 0.5)};
    background-color: var(--gray800);
    color: var(--gray200);
    }

    &:has(pre) pre {
    margin: 0;
    }
}

