@mixin inside-input-label-base {
  --react-international-phone-height: 50px;
  --react-international-phone-border-radius: 8px;
  --react-international-phone-border-color: #c0c0c0ff;
  position: relative;
}

@mixin inside-input-label-floating {
  top: -0.5rem;
  left: calc(var(--w-gutter, 16px) * 0.25);
  font-size: calc(var(--w-text, 14px) * 0.75);
}

@mixin modal-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
