@use "../../utilities/functions" as u;

@layer craftsman-base {
  %body-typography {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: var(--text);
    line-height: 1.5;
    font-weight: 400;
    font-size: var(--w-text, 14px);
  }

  // TODO: These h* declarations need to be moved somewhere not-terrible
  :where(h1) {
      font-size: calc(var(--w-text, 14px) * 3.125);
      line-height: 1.2;
  }

  :where(h2) {
      font-size: calc(var(--w-text, 14px) * 2.625);
      font-weight: 625;
      line-height: 1.1;
  }

  :where(h3) {
      font-size: calc(var(--w-text, 14px) * 1.625);
      line-height: 1.1;
  }

  :where(h4) {
      font-size: calc(var(--w-text, 14px) * 1.25);
      line-height: 1.1;
      margin: calc(var(--w-gutter, 16px) * 0.5) 0;
  }

  :where(h5) {
      font-size: var(--w-text, 14px);
      line-height: 1.2;
  }

  :where(h6) {
      font-size: calc(var(--w-text, 14px) * 0.875);
      line-height: 1.2;
      font-weight: 600;
  }

  :where(p) {
      font-style: normal;
      font-size: var(--w-text, 14px);
      line-height: 1.5;
      margin: 0;
  }

  @include u.breakpoint(mobileMax) {
      :where(h4) {
      font-size: var(--w-text, 14px);
      }

      :where(p) {
      font-size: calc(var(--w-text, 14px) * 0.875);
      }
  }
}
