@use "../../styles/global/components/input";
@use "../../styles/utilities/_functions" as u;
@use "../../styles/utilities/_placeholders";
@use "../DatePicker/_DateTimePicker";
@layer craftsman-base {
    .react-datetime-picker,
    .react-datetime-picker *,
    .react-datetime-picker *:before,
    .react-datetime-picker *:after {
        @extend %border-box;
    }
    .react-datetime-picker {
        @extend %date-picker-styles;
        &--disabled {
            @extend %date-picker-disabled;
        }
        &__wrapper {
            @extend %date-picker-wrapper;
        }
        &__inputGroup {
            @extend %date-picker-input-group;
        }
        &__inputGroup__divider {
            @extend %date-picker-divider;
        }
        &__inputGroup__divider,
        &__inputGroup__leadingZero {
            @extend %date-picker-leading-zero-divider;
        }
        &__inputGroup__input {
            @extend %date-picker-group-input;
        }
        &__inputGroup__input::-webkit-outer-spin-button,
        &__inputGroup__input::-webkit-inner-spin-button {
            @extend %date-picker-input-spinner;
        }
        &__inputGroup__input--hasLeadingZero {
            @extend %date-picker-input-leading-zero;
        }
        &__button {
            @extend %date-picker-button;
        }
        &__calendar--closed, &__clock--closed {
            display: none;
        }

    }
    .react-datetime-picker__calendar,
    .react-datetime-picker__clock {
        z-index: 1;
    }

    .react-datetime-picker__inputGroup__input:invalid {
        background: rgba(255, 0, 0, 0.1);
    }

    .react-datetime-picker__inputGroup__amPm {
        font: inherit;
        -webkit-appearance: menulist;
        -moz-appearance: menulist;
        appearance: menulist;
    }
        .react-datetime-picker__calendar {
        width: 350px;
        max-width: 100vw;
    }

    .react-datetime-picker__calendar .react-calendar {
        border-width: thin;
    }
    .react-date-picker__inputGroup__input:invalid, .react-datetime-picker__inputGroup__input:invalid {
        background: unset;
    }

    .dateTimePicker {

        &__time-display {
            margin-top: 8px;
            display: flex;
        }
    }

    .dateTimePicker__wrapper {
        display: inline-block;
    }
}
